<launch>

    <node pkg="rl_control" type="LQT_control_node" name="LQT_control_node"/>
    <node pkg="rl_control" type="Reference_generator_node" name="Reference_generator_node"/>


    <node pkg="rosbag" type="record" name="rosbag_drone_control" 
          args="record -o /container_volume/bags/LQT/ /rl_control/output_reference /dji_sdk/flight_control_setpoint_generic /dji_sdk/local_position /dji_sdk/velocity" output="screen"/>

</launch>

